@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --light-violet: #D0BDD9;
    --dark-violet: #23054E;
    --bright-violet: #7B2CED;
    --dark-violet-2: #5E486F;
    --light-gray: #F5F6F7;
    --dark-gray: #e8e9ea;
    --border: .1rem solid rgba(0, 0, 0, 10%);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 10%);
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all .3s ease-in-out;
}

*::selection{
    background: var(--dark-violet);
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: var(--light-violet);
    border-radius: 1rem;
}

section{
    padding: 4rem 5%;
}

/* Header: */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: var(--box-shadow);
    background: white;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 4rem;
}

.navbar{
    width: 70%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

.navbar a{
    color: black;
    cursor: pointer;
}

.navbar a:hover{
    color: var(--bright-violet);
    font-weight: 500;
}

.btn{
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    background: var(--bright-violet);
    cursor: pointer;
}

.btn:hover{
    background: var(--dark-violet-2);
}

.current{
    font-weight: 600;
}

.navbar .current{
    color: var(--dark-violet);
}

/* index.php: */
.galvena {
    padding: 4rem 3%;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.galvenaAttela{
    display: flex;
    justify-content: center;
}

.galvenaAttela img {
    border-radius: 5rem;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.galvenaisTeksts {
    text-transform: uppercase;
    border-radius: 0 5rem;
    font-size: 2.5rem;
    padding: 1rem 1rem 1rem 0;
    position: absolute;
    bottom: 6%;
    left: 7.5%;
    color: var(--dark-violet);
    background: white;
    z-index: 1;
    max-width: 90%;
    line-height: 1.5;
    word-wrap: break-word;
    opacity: 0;
    transform: translateY(3rem);
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.galvenaStatistika{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.galvenaStatistika img{
    width: 5rem;
}

.kasteInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.kasteInfo h1{
    color: var(--light-violet);
    font-size: 4.1rem;
}

.kasteInfo p{
    font-size: 1.2rem;
    color: var(--dark-violet-2);
    font-weight: 500;
}

.parInfo{
    display: flex;
    gap: 4rem;
    padding: 0 5%;
    margin-bottom: 3rem;
}

.kreisaKaste{
    flex: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.labaKaste{
    flex: 65%;
    display: flex;
    align-items: end;
}

.kreisaKaste .btn{
    background: var(--dark-violet-2);
    border-radius: 4rem;
    width: 35%;
    text-align: center;
}

.kreisaKaste .btn:hover{
    background: var(--dark-violet);
}

.kreisaKaste h1{
    color: var(--dark-violet);
    font-size: 3.5rem;
}

.labaKaste p{
    line-height: 2;
    font-size: 1.2rem;
    text-align: justify;
}

.attelas{
    display: flex;
    gap: 1rem;
}

.pirmaAttela, .tresaAttela{
    flex: 25%;
}

.pirmaAttela img, .tresaAttela img{
    height: 87%;
}

.otraAttela{
    flex: 50%;
}

.attelas img{
    width: 100%;
    border-radius: 4rem;
}

/* Animacijas */
.parInfo, .pirmaAttela, .otraAttela, .tresaAttela, .piedavajumi h1, .piedavajumi .mazaKaste, .lietotajaDarbibas h1, .lietotajaDarbibas .darbiba{
    opacity: 0;
    transform: translateY(7rem);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.pirmaAttela.redzams, .otraAttela.redzams, .tresaAttela.redzams, .parInfo.redzams, .piedavajumi h1.redzams, .piedavajumi .mazaKaste.redzams, .lietotajaDarbibas h1.redzams, .lietotajaDarbibas .darbiba.redzams{
    opacity: 1;
    transform: translateY(0);
}

.komentarijs{
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.komentarijs.redzams{
    opacity: 1;
    transform: scale(1);
}

.piedavajumi h1, #pedejiSludinajumi h1{
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 4rem;
}

.lielaKaste{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex: 1 1 1;
}

.mazaKaste{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.mazaKaste:hover{
    box-shadow: 0 .5rem 1.5rem var(--light-violet);
    border-radius: 2rem;
}

.mazaKaste img{
    width: 10rem;
}

.mazaKaste h3{
    color: var(--dark-violet-2);
    font-weight: 500;
    font-size: 1.5rem;
}

.mazaKaste p{
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2;
}

#tresaisTeksts{
    width: 80%;
}

#pedejiSludinajumi{
    padding: 0 5% 5rem;
}

#pedejiSludinajumi .lielaKaste{
    align-items: flex-start;
}

.sludinajums{
    position: relative;
}

.sludinajums:hover{
    transform: translate(0, -2rem);
    cursor: pointer;
}

#pedejiSludinajumi img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

#cena{
    font-weight: 500;
    font-size: 1.5rem;
}

#adrese, #papildInfo{
    font-size: 1.1rem;
}

#papildInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .5rem 0;
}

#papildInfo i{
    color: var(--dark-violet-2);
}

.sirds{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.sirds i{
    font-size: 2rem;
    color: white;
}

.sirds i:hover{
    color: red;
}

.attela-sirds {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Footer: */
footer{
    padding: 2rem 7%;
    background: black;
    color: white;
}

#lielaKasteFooter{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

#visparigaInfo{
    text-align: left;
}

#visparigaInfo h1{
    color: var(--light-violet);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

#visparigaInfo p{
    font-size: 1.3rem;
    font-size: 300;
}

#kontakti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#kontakti ul{
    line-height: 2;
    list-style: none;
}

#kontakti li:hover{
    cursor: pointer;
    color: var(--bright-violet);
}

#saraksts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 2.5rem;
    color: var(--light-violet);
}

#saraksts i:hover{
    cursor: pointer;
    color: white;
}

#tiesibas{
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid var(--light-violet);
    font-weight: 200;
}

/* Login.php: */
#loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(white, var(--light-violet));
}

.loginKaste {
    width: 60%;
    display: flex;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid var(--dark-violet-2);
    border-radius: 5rem;
}

.attela, .loginDala {
    flex: 1;
}

.attela img {
    width: 100%;
    height: 100%;
    border-radius: 5rem 0 0 5rem;
}

.loginDala{
    background: white;
    border-radius: 0 5rem 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.loginDala h2{
    font-size: 2rem;
}

.loginDala form, .registracijasKaste form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}

.loginDala form input, .registracijasKaste form input{
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    background: var(--light-gray);
    border-radius: 1rem;
}

.loginDala form input:focus, .registracijasKaste form input:focus{
    background: var(--light-violet);
}

.loginDala form .btn, .registracijasKaste form .btn{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--dark-violet-2);
}

.loginDala form .btn:hover, .registracijasKaste form .btn:hover{
    background: var(--dark-violet);
}

.loginDala a{
    font-weight: bold;
    color: var(--dark-violet);
}

.loginDala a:hover{
    color: var(--bright-violet);
}

.pazinojums{
    text-align: center;
    padding: .5rem;
    color: darkred;
    font-weight: bold;
}

.paroleKaste{
    display: flex;
    background: var(--light-gray);
    border-radius: 1rem;
}

.paroleKaste i{
    color: var(--dark-violet);
    cursor: pointer;
    margin: 1.1rem;
}

/* Reģistrācija.php: */
#registracijaBody {
    background-image: url("../images/backgroundForRegistr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registracijasKaste{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 40%;
    border-radius: 5rem;
    border: 1px solid var(--dark-violet-2);
    padding: 2rem;
}

.majuVieta{
    display: flex;
    align-items: center;
    color: var(--dark-violet);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.majuVieta img{
    width: 5rem;
}

#vardsUzvards{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.registracijasKaste form{
    width: 65%;
}

/* ParMums.php: */
.parMums{
    margin-top: 4rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: slideIn 1s forwards;
}

.parMums h1{
    color: var(--dark-violet);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.parMums p{
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 2;
    font-size: 1.2rem;
    color: var(--dark-violet-2);
    margin-bottom: 2rem;
}

.parMums img{
    height: 100%;
}

.parMums1{
    flex: 25%;
}

.parMums2{
    flex: 45%;
}

.parMums3{
    flex: 30%;
}

.komentariji{
    background: var(--light-violet);
    display: flex;
    padding: 0 14%;
}

.komentarijs{
    flex: 1;
    display: flex;
    margin: 4rem 1rem;
}

.komentarijs img{
    width: 10rem;
    transform: translateX(2rem);
}

.saturs{
    background: white;
    border: 1px solid var(--dark-violet-2);
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

.saturs i{
    font-size: 2.5rem;
    color: var(--dark-violet);
}

.teksts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.teksts p{
    line-height: 1.5;
}

.komentarijaIpasnieks{
    font-weight: bold;
    color: var(--dark-violet);
}

.komentarijaIpasnieks span{
    font-weight: 300;
}

.lietotajaDarbibas h1{
    text-align: center;
    font-size: 2.5rem;
}

.lietotajaDarbibas h1 span{
    color: var(--dark-violet-2);
}

.darbibas{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 0 2rem;
}

.darbiba h2{
    color: var(--dark-violet);
    margin: 1rem 0;
}

.darbiba ul {
    font-size: 1.2rem;
    line-height: 2;
    list-style: none;
    padding-left: 0;
}

.darbiba ul li {
    position: relative;
    padding-left: 2rem;
}

.darbiba ul li::before {
    content: '\f058';
    font-family: "Font Awesome 6 Free";
    position: absolute;
    left: 0;
    color: var(--light-violet);
}

#sazinaties{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.karte{
    width: 65%;
    height: 46.5rem;
}

.zina{
    background: var(--dark-violet-2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    width: 35%;
}

.zina h2{
    text-align: center;
    margin-bottom: 1rem;
}

.zina p{
    font-weight: 300;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.5;
}

#sazinaties form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sazinaties form input, #sazinaties form textarea{
    padding: 1rem;
    border-radius: 1rem;
    background: none;
    border: 1px solid white;
    color: white;
}

#sazinaties form textarea{
    resize: none;
}

#sazinaties form .btn{
    color: var(--dark-violet);
    background: white;
    font-size: 1.1rem;
}

#sazinaties form .btn:hover{
    background: var(--light-violet);
    font-weight: bold;
}

#sazinaties form span{
    color: red;
}

/* Majas.php: */
.galvenieFiltri{
    margin-top: 8rem;
    padding: 2rem 5%;
    gap: 1rem;
    align-items: center;
}

.filtriKaste{
    display: flex;
    gap: 1rem;
    position: absolute;
    transform: translateY(-3.45rem) translateX(13.4rem);
}

.filtri{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.darijumuVeids{
    width: 12.3rem;
    border-radius: 1.3rem;
    background: var(--light-gray);
    display: flex;
}

.atlasits{
    border-radius: 1.3rem;
    border: 1px solid var(--dark-violet);
    background: white;
}

.neAtlasits{
    background: none;
}

.neAtlasits:hover{
    background: var(--dark-gray);
}

.darijumuVeids button{
    border-radius: 1.3rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.meklesana{
    display: flex;
}

.meklesana input{
    font-size: 1.1rem;
    padding: 1rem;
    background: var(--light-gray);
    border-radius: 1.3rem 0 0 1.3rem;
}

.meklesana a{
    background: var(--dark-violet-2);
    border-radius: 0 1.3rem 1.3rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}

.meklesana a:hover{
    cursor: pointer;
    background: var(--dark-violet);
}

.meklesana a i{
    color: white;
}

.galvenieFiltri .kaste button{
    font-size: 1.1rem;
    background: var(--light-gray);
    border-radius: 1.3rem;
    padding: 1rem 1.3rem;
}

.galvenieFiltri .kaste button i{
    margin-left: 1rem;
}

.galvenieFiltri .kaste button:hover{
    cursor: pointer;
    background: var(--dark-gray);
}

.izdzestFiltrusPoga{
    font-size: 1.1rem;
    padding: 1rem;
    color: var(--dark-violet);
    background: none;
    border: 1px solid var(--dark-violet);
    border-radius: 1.3rem;
}

.izdzestFiltrusPoga:hover{
    color: var(--bright-violet);
    border-color: var(--bright-violet);
    cursor: pointer;
}

.staviDiapozons, .cenuDiapozons, .istabasDiapozons, .platibasDiapozons{
    display: none;
    position: absolute;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin-top: .5rem;
    padding: .5rem;
    background: white;
}

.staviDiapozons p, .cenuDiapozons p, .istabasDiapozons p, .platibasDiapozons p{
    font-size: .9rem;
}

.pdiapozons, .cdiapozons, .idiapozons, .pdiapozons{
    margin-top: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.pdiapozons p, .cdiapozons p, .idiapozons p, .pdiapozons p{
    font-size: 1.3rem;
}

.pdiapozons input, .cdiapozons input, .idiapozons input, .pdiapozons input{
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--dark-violet);
}

.majasSaturs{
    display: flex;
    width: 100%;
}

.lielaKreisaPuse{
    flex: 65%;
    margin-top: 1.5rem;
}

.karte{
    flex: 35%;
}

.lielaKreisaPuse h2, .iresanasLapa h2{
    font-weight: 400;
}

.kartosana{
    margin-top: 1.2rem;
}

.kartosana select{
    padding: .5rem 0;
    border-radius: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid white;
}

.kartosana select:focus{
    border-color: var(--bright-violet);
}

/* MajasIresanai.php: */
.iresanasLapa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iresanasLapa .kreisaPuse{
    margin-top: 1.5rem;
}

.labaPuse{
    width: 100%;
}

.labaPuse .iresanasDatumi{
    display: flex;
    padding-left: 15%;
    gap: 1rem;
}

.datumi{
    background: var(--light-gray);
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-violet);
    border-radius: 1.3rem;
    padding: 1rem 0 1rem 1rem;
    gap: .5rem;
}

.datumi i{
    font-size: 1rem;
}

.datumi input{
    font-size: 1rem;
    text-align: center;
    background: none;
}

.datumi input:focus{
    background: var(--dark-gray);
}

.datumi p{
    font-size: 1.1rem;
}

.iresanasDatumi button{
    background: var(--dark-violet-2);
    font-size: 1rem;
    border-radius: 1.3rem;
}

.iresanasDatumi button:hover{
    background: var(--dark-violet);
}

.iresanasBack{
    background-image: url(../images/iresanasBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}